<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BTThemeName</key>
			<string>Mini</string>
		<key>BTThemeIdentifier</key>
			<string>com.Mini.test</string>
		<key>BTThemeVersion</key>
			<string>1.1</string>
		<key>BTThemePreviewImage</key>
			<string>img/preview.png</string>
		<key>BTThemeArtist</key>
			<string>Luke Jones</string>
		<key>BTThemeArtistUrl</key>
			<string>http://www.lukejones.me/</string>
		<key>BTMainFile</key>
			<string>index.html</string>
		<key>BTWindowWidth</key>
			<integer>253</integer>
		<key>BTWindowHeight</key>
			<integer>33</integer>
		
		<key>BTTrackFunction</key>
			<string>trackUpdate</string>
		<key>BTArtworkWidth</key>
			<integer>31</integer>
		<key>BTArtworkHeight</key>
			<integer>31</integer>
		<key>BTArtworkFunction</key>
			<string>artworkUpdate</string>
	</dict>
</plist>